.user-form{
  background-color: #f5f5f5;
  padding: 30px;
}
.head-section{
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}
.required{
  color: red;
}
.personal-details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-field{
  display: flex;
  align-items: center;
  gap: 26px;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.submit{
  background: #2f7d31;
    color: white;
    padding: 12px;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #2f7d31;
}
.delete{
  color: red;
  padding: 12px;
  font-size: 21px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid red;
}
input, select{
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}
label{
  font-size: 20px;
}
.errors{
  color: red;
}